{% extends 'base.html' %}
{% block title %}About - StaffEng{% endblock %}

{% block content %}
<p>
  <em>Questions? Reach out to <a href="https://twitter.com/lethain">@lethain</a> on twitter.</em>
</p>

<p>
  When folks ask how they can become a Staff Engineer,
  often my first response is to give them advice,
  but I suspect <a href="https://lethain.com/share-stories-not-advice/">they'd learn more from collected stories</a>
  of how many folks found their way to the Staff Engineer title.
</p>
<p>
  If you're willing to share your story, the next steps are:</p>
<ol>
  <li>Take some time to read over the <a href="https://docs.google.com/document/d/10BeIfuE1wI3zB4GKyuCHzRm1Coq_m7rrFX_ubrhpv0w/edit">questions and themes that we're asking about</a>.</li>
  <li>Wait until I figure out step two.</li>
</ol>
    

{% endblock %}
