{% extends 'base.html' %}
{% block title %}Share your story - StaffEng{% endblock %}

{% block content %}
<p>
  <em>Questions? Reach out to <a href="https://twitter.com/lethain">@lethain</a> on twitter.</em>
</p>

<h3>Why collect stories?</h3>
<p>
  There are so many different ways that folks reach Staff, Principal and Distinguished Engineer roles,
  that the best career advice
  <a href="https://lethain.com/share-stories-not-advice/">isn't going to be advice</a>,
  but rather a collection of stories. Hearing about dozens of folks' map they took to Staff
  will be far more useful than what any one person has seen at their company.
</p>
<p>
  StaffEng's current focus is
  collecting our first stories, editing them into something that the story teller is excited
  to attach them name to, and getting them posted for folks to read.
  I believe that different folks have very different experiences on their path,
  and I want to capture those different paths in an accurate, helpful way to ease
  the engineers who follow.
</p>

<h3>Sharing your story</h3>

<p>
  If you're willing to share your story, the steps are:</p>
<ol>
  <li>
    Read over the
    <a href="https://docs.google.com/document/d/10BeIfuE1wI3zB4GKyuCHzRm1Coq_m7rrFX_ubrhpv0w/edit">questions that we're going to talk about</a>.
  </li>
  <li>
    Decide if you'd prefer for me to interview you over video conference, or if you'd prefer to do a written version.
    If we did do it over video conference, I'd record to improve note taking, but have no plans to release the audio portion.
    If I did later decide to release some audio portions, I would get your explicit approval prior to release.
  </li>  
  <li>
    Reach out to me on <a href="https://twitter.com/lethain">Twitter</a> or email (my twitter handle at gmail.com),
    including your preference for video conference or written approach. For the former, include some
    guidance around your schedule so I can coordinate scheduling.
  </li>
  <li>
    Together we record your "map to Staff Engineer."
  </li>
  <li>
    I edit the story into an article for posting over the next one to two weeks.
  </li>
  <li>
    I share the edited story with you, incorporate your narrative or line edits until
    you're comfortable publishing it.
  </li>
  <li>
    I publish it to <code>staffeng.com</code>, and do some distribution around it on
    Twitter, LinkedIn, and so on. Caveat that I plan to wait on distribution until I've
    captured at least five stories to make sure folks have other content to read when
    they arrive, but I'm committed to doing distribution for every post individually over time!
  </li>
</ol>

<p>
  The process is very evolvable, so if you'd like things to work a bit differently, let me know
  and I'm glad to work with you something that would fit you better.
</p>

<h3>Some more details</h3>
<ul>
  <li>
    Stories will be shared under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 License</a>.
    If you strongly prefer a different license, I'm glad to try to accomodate.
  </li>  
  <li>
    Being respectful with your story is the most important criteria of success for me.
    I hope to cover most of these questions with most folks, but I’m glad to anonymize anything sensitive.
  </li>
  <li>
    I’m hoping to share the final, edited versions under Creative Commons Attribution 4.0.
    This will allow anyone, including you and me, to use these commercially with an attribution
    back to the original interview.
    That said, I’m glad to discuss using a different license for your interview.
  </li>
</ul>
<p>
  This is all early. If you have suggestions for different questions, how this approach of project can be improved, or what not,
  please send a note.
</p>
{% endblock %}
