{% extends 'base.html' %}
{% block title %}Stories - StaffEng{% endblock %}

{% block content %}
<p>
  <em>Looking for a faster way to participate? Take five minutes to
    <a href="https://airtable.com/shry1KXQCLWpnXuC5">fill out this survey</a>.
  </em>
</p>

<p>
  We're currently in the process of collecting the initial batch of stories,
  after which we'll include both featured and submitted stories here.
  If you're <a href="/share">willing to share yours</a>, please reach out.
</p>


{% endblock %}
