{% extends 'base.html' %}
{% block title %}Stories - StaffEng{% endblock %}

{% block content %}
<p>
  <em>Want to share your story? <a href="/share">Read more here.</a></em>
</p>
<p>
  Folks who've shared their stories of reaching Staff-plus engineer roles:

</p>
<ul>
  {% if false %}  
  <li>
    <a href="/stories/keavy-mcminn"><strong>Keavy McMinn</strong> - Senior Principal Engineer at Fastly</a>.
    <em>March, 2020</em>
  </li>
  <li>
    <a href="/stories/dan-na"><strong>Dan Na</strong> - Staff Engineer and Team Lead at Squarespace</a>.
    <em>March, 2020</em>
  </li>
  <li>
    <a href="/stories/ritu-vincent"><strong>Ritu Vincent</strong> - Staff Engineer at Dropbox</a>.
    <em>March, 2020</em>
  </li>
  <li>
    <a href="/stories/nelson-elhage"><strong>Nelson Elhage</strong> - Formerly Staff Engineer at Stripe</a>.
    <em>March, 2020</em>
  </li>
  {% endif %}
</ul>
{% endblock %}
