html, body {
    height: 100%;
    margin: 0;
}

.center {
    text-align: center;
}

body {
    max-width: 38em;
    margin: auto;
    padding: 0;
    background-color: #f9f9f9;
    color: #4a4a4a;    
}

.core {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

}

nav h2 a {
    color: #4a4a4a;
}
nav h2 a img {
    height: 30px;
    padding-right: 5px;
}


nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 0px 10px;
}

hr {
    border-color: #e9e9e9;
}

.pull {
    background: #e9e9e9;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
}
.pull p {
    padding-top: 1rem;
}
.pull ul {
    padding: 0;
}

.lead {
    margin-bottom: 10px;
}
.quiet {
    margin-top: 10px;
    font-weight: normal;
}

.date {
    float: right;
    color: #c9c9c9;
}

.pull .date {
    color: #a9a9a9;
}

.form-group {
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
}

#mc_embed_signup form {
    margin-bottom: 0;
}

.mc-field-group p {
    margin-bottom: 0;
}

.form-group .email {
    flex-grow: 2;
}

.form-group label, .form-group input {
    margin: 1rem 0.5rem;
}
.form-group label {
    font-weight: normal;
}

@media (max-width: 684px) {
    nav {
        padding: 0.5rem 1rem;
    }
    
    .content {
        padding: 0 10px;
    }
    .date {
        display: none;
    }
}

@media (max-width: 382px) {
    nav, nav li {
        display: block;
    }
    .form-group {
        display: block;
    }
    .content {
        padding: 0 10px;
    }
}
