{{ if .Site.Params.banner.enabled }}
<div class="mh-4 mw8 center">
    <p class="mv0 ph3 pv3 tc br3  {{ .Site.Params.banner.bg_color }}">
      <em><a href="/eng-execs-primer/">The Engineering Executive's Primer</a></em>
      is available now, or preorder print edition for March,
      on <a href="https://www.oreilly.com/library/view/the-engineering-executives/9781098149475">O'Reilly</a>
      and <a href="https://www.amazon.com/Engineering-Executives-Primer-Impactful-Leadership/dp/1098149483">Amazon</a>!
    </p>
</div>
{{ end }}
