<div class="bg-light-gray pa3 cf">
  <p class="f5 mb3">
    Hi folks. I'm <a href="https://lethain.com/about">Will Larson</a>,
    and this is my new book, <em><a href="https://staffeng.com/book">Staff Engineer</a></em>.
  </p>
  <p>
    I also wrote
    <em><a href="https://www.amazon.com/Elegant-Puzzle-Systems-Engineering-Management/dp/1732265186">An Elegant Puzzle</a></em>,
    and
    <em><a href="https://www.amazon.com/Engineering-Executives-Primer-Impactful-Leadership/dp/1098149483/">The Engineering Executive's Primer</a></em>.
  </p>

  <p class="cf">
    <div class="fl w-third">
      <a href="https://www.amazon.com/Elegant-Puzzle-Systems-Engineering-Management/dp/1732265186">
        <img src="/static/aep-small-lq.jpg">
      </a>
    </div>
    <div class="fl w-third">    
      <a href="https://staffeng.com/book">
        <img src="/static/StaffEngBookMed.jpg">
      </a>
    </div>
    <div class="fl w-third">
      <a href="https://www.amazon.com/Engineering-Executives-Primer-Impactful-Leadership/dp/1098149483/">
        <img src="/static/primer-cover-small.jpg">
      </a>
    </div>    
  </p>
</div>

<div class="bg-light-gray ph3 cf">
  <p class="f5 mb3">
    For updates on this and other projects, join <em>Irrational Exuberance</em>'s
    <a href="https://lethain.com/newsletter/">weekly newsletter</a>.
  </p>
</div>


<div class="bg-light-gray pa3 nested-list-reset nested-copy-line-height nested-links">
  {{ if .Prev }}
    <p class="f5"><span class="b mb3">Next chapter</span></p>
    <p class="f5"><a href="{{ .Prev.RelPermalink }}">{{ .Prev.Title }}</a></p>
    {{ end }}
    
  {{ if .Next }}
    <p class="f5"><span class="b mb3">Previous chapter</span></p>
    <p class="f5"><a href="{{ .Next.RelPermalink }}">{{ .Next.Title }}</a></p>
    {{ end }}

    {{ if ge (len (.TableOfContents)) 33 -}}
  <p class="f5 b mb3">Table of Contents</p>
  {{ .TableOfContents }}
  {{ end }}


</div>
