<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
    <a class="center f4 fw4 dim no-underline black-50 dn dib-ns pv2 ph3" href="https://lethain.com/">
      &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
  <a class="center f4 fw4 dim no-underline black-50 dn dib-ns pv2 ph3" href="/faq/">FAQ</a>
  <a class="center f4 fw4 dim no-underline black-50 dn dib-ns pv2 ph3" href="/about/">About</a>
  <a class="center f4 fw4 dim no-underline black-50 dn dib-ns pv2 ph3" href="https://github.com/lethain/staff-eng">Edit on GitHub</a>  
  </div>

</footer>
