{{ define "main" }}
<div class="pa3-ns mw7-ns w-100-m w-60-ns center">
  <section class="flex-ns flex-wrap justify-around mt1">
    <div class="relative mb4 pa4 bg-white">

      <img src="/banner.png">

      <h1>Staff Engineer</h1>
      <h2>Leadership beyond the management track</h2>
      <p>By <a href="https://lethain.com">Will Larson</a></p>


      <p>At most technology companies, you'll reach Senior Software Engineer, the <a href="https://lethain.com/mailbag-beyond-career-level/">career level</a>, in five to eight years. At that point your path branches, and you have the opportunity to pursue engineering management or continue down the path of technical excellence to become a Staff Engineer.</p>

      <p>Over the past few years we've seen a flurry of books unlocking the engineering manager career path, like:
      <a href="https://www.amazon.com/Managers-Path-Leaders-Navigating-Growth/dp/1491973897">The Manager's Path</a> by Camille Fournier,
      <a href="https://www.amazon.com/Making-Manager-What-Everyone-Looks/dp/0735219567/">The Making of a Manager</a> by Julie Zhuo,
      and my own, <a href="https://www.amazon.com/Elegant-Puzzle-Systems-Engineering-Management/dp/1732265186">An Elegant Puzzle</a>.</p>

      <p>The management career isn't an easy one, but increasingly there is a map available.</p>

      <div class="bg-light-gray br4 ph3 pv1">

      <h2>Stories</h2>

      <ul>
        <li><a href="/stories/michelle-bu">Michelle Bu</a> – Payments Product Tech lead at Stripe</li>
        <li><a href="/stories/bert-fan">Bert Fan</a> – Senior Staff Engineer at Slack</li>
        <li><a href="/stories/duretti-hirpa">Duretti Hirpa</a> – Formerly Staff Engineer at Mailchimp</li>
        <li><a href="/stories/adam-bender/">Adam Bender</a> - Principal Software Engineer at Google</li>
        <li><a href="/stories/ryan-bergman/">Ryan Bergman</a> - Senior Staff Engineer at John Deere</li>
      </ul>

      <p><a href="/stories">Looking for more? Read all stories…</a></p>

      </div>

      <p>The transition into Staff Engineer, and its further evolutions like Principal Engineer, remains particularly challenging and undocumented. What are the skills you need to develop to reach Staff Engineer? What skills do you need to succeed after you've reached it? How do most folks reach this role? What can companies do to streamline the path to Staff Engineer? Will you enjoy being a Staff Engineer or toil for years for a role that doesn't suit you?</p>

      <div class="bg-light-gray br4 ph3 pv1">

        <h2>Guides</h2>

        <ul>
          <li><a href="/guides/work-on-what-matters">Work on what matters</a></li>
          <li><a href="/guides/staying-aligned-with-authority/">Staying aligned with authority</a></li>
          <li><a href="/guides/promo-packets/">Promotion packets</a></li>
          <li><a href="/guides/manage-technical-quality/">Manage technical quality</a></li>
          <li><a href="/guides/engineering-strategy">Engineering strategy</a></li>
        </ul>

        <p><a href="/guides">Looking for more? Read all guides…</a></p>
      </div>

      <p>The <em>StaffEng</em> project aims to collect the stories of folks who are operating in Staff, Principal or Distinguished Engineer roles. How did you get there? What were your lucky breaks? How did you learn to be effective? As more of these stories are collected, I hope to build a dataset that helps folks draw their own map to Staff Engineer.</p>

      {{- partial "book.html" . -}}      
    </div>
  </section>
</div>

{{ end }}
