:root {
    --primary: #5e22e6;
    --secondary: #0a1f44;
    --primary-invert: #fff;
    --secondary-invert: #fff;

    --gradient-primary: linear-gradient(230deg, #7445ff, #520df4);
    --gradient-secondary: linear-gradient(230deg, #0a1f44, #020024);

    /* DEFAULT COLOR OF TEXTS */
    --text-primary: #0a1f44;

    /* FOR BUTTONS & INPUTS */
    --elements-roundness: 10rem;

    --space-between-blocks: 5.3rem;
    /* for mobiles */
    --space-between-blocks-small-screens: 3rem;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-primary);
}

.space-between-blocks {
    padding-top: var(--space-between-blocks-small-screens);
    padding-bottom: var(--space-between-blocks-small-screens);
}

@media (min-width: 992px) {
    .space-between-blocks {
	padding-top: var(--space-between-blocks);
	padding-bottom: var(--space-between-blocks);
    }
}

/* Buttons */

button {
    color: inherit;
    padding: 0;
    background: none;
    border: none;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.btn {
    font-size: 0.87rem;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: var(--elements-roundness);
    transition: 0.2s all;
}

@media (min-width: 992px) {
    .btn {
	padding: 0.8rem 2rem;
    }
}

.btn,
.btn:hover,
.btn:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.btn:hover,
.btn:focus {
    transform: scale(1.05);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    background: var(--gradient-primary, --primary);
    color: var(--primary-invert);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    background: var(--gradient-secondary, --secondary);
    color: var(--secondary-invert);
}

.btn-primary--empty,
.btn-primary--empty:hover,
.btn-primary--empty:focus {
    color: var(--primary);
}

.btn-sm {
    padding: 0.8rem;
}

.highlight {
    color: var(--primary)
}

/* block header */

.block__header {
    margin-bottom: 4rem;
}

.block__title {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.4;
}

@media(min-width: 992px) {
    .block__title {
	font-size: 2.5rem;
    }

    .block__title--big {
	font-size: 3rem;
	line-height: 1.1;
    }
}

@media(min-width: 1200px) {
    .block__title--big {
	font-size: 3.5rem;
	line-height: 1.2;
    }
}

.block__paragraph {
    font-size: 1.1rem;
    line-height: 1.5;
    opacity: .9;
}

@media(min-width: 992px) {
    .block__paragraph--big {
	font-size: 1.2rem;
	line-height: 1.6;
    }
}

/* Icons */

.fr-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5px;
    background: rgba(0,0,0,0.04);
    margin-bottom: 1.5rem;
    transition: .5s;
}

.fr-icon--medium {
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
}

.fr-icon--large {
    font-size: 1.2rem;
    height: 3.25rem;
    width: 3.25rem;
}

@media (min-width: 992px) {
    .fr-icon--large {
	height: 3.8rem;
	width: 3.8rem;
	font-size: 1.9rem;
    }
}

/* Put your blocks here */
    

/*------------------------------*/
/*--Section Name----------------*/
/*------------------------------*/
.hero {
    --hero-nav-height: 100px;
    --dropdown-background: white;
    --dropdown-text-color: var(--text-primary);
    --block-background: linear-gradient(to top, rgb(0 0 0 / 3%), transparent);
    --block-text-color: var(--text-primary);
    background: var(--block-background);
    color: var(--block-text-color);
    position: relative;
    display: flex;
    flex-direction: column
}

.hero-nav {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--hero-nav-height);
    display: flex;
    align-items: center;
    z-index: 2
}

.hero-nav__item {
    margin: auto;
    font-size: 1.1rem
}

@media(min-width:992px) {
    .hero-nav__item {
	margin: 0 1rem
    }
}

@media(min-width:992px) {
    .nav--lg-side {
	flex-direction: row-reverse
    }
}

.hero-nav__logo {
    height: 35px
}

.hero-nav__link {
    color: inherit;
    opacity: .9
}

.hero-nav__link:focus,
.hero-nav__link:hover {
    color: inherit;
    text-decoration: none;
    opacity: 1
}

.ft-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2000;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@media (print),
(prefers-reduced-motion:reduce) {
    .ft-menu {
	-webkit-animation-duration: 1ms !important;
	animation-duration: 1ms !important;
	-webkit-transition-duration: 1ms !important;
	transition-duration: 1ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-iteration-count: 1 !important
    }
}

.ft-menu .hero-nav__item {
    width: 100%;
    margin-top: .75rem;
    margin-bottom: .75rem
}

@media(min-width:992px) {
    .ft-menu .hero-nav__item {
	width: auto;
	margin-top: 0;
	margin-bottom: 0
    }
}

.ft-menu--js-show {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}

.ft-menu::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: var(--primary);
    opacity: .9;
    z-index: -1
}

@media(min-width:992px) {
    .ft-menu {
	-webkit-animation-name: none;
	animation-name: none;
	position: static;
	z-index: auto
    }

    .ft-menu::before {
	content: none
    }
}

.ft-menu__slider {
    color: var(--dropdown-text-color);
    background: var(--dropdown-background);
    width: 80%;
    height: 100%;
    overflow: hidden;
    transform: translateX(-100%);
    transition: .5s transform
}

@media(min-width:992px) {
    .ft-menu__slider {
	--block-background: transparent;
	color: var(--block-text-color);
	width: auto;
	height: auto;
	background: 0 0;
	transform: none;
	display: flex;
	align-items: center
    }
}

.ft-menu--js-show .ft-menu__slider {
    transform: translateX(0)
}

.ft-menu__close-btn {
    color: var(--primary-invert);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    margin: 1rem;
    transform: translateX(100%);
    transition: .5s transform
}

@media(min-width:992px) {
    .ft-menu__close-btn {
	display: none
    }
}

.ft-menu--js-show .ft-menu__close-btn {
    transform: translateX(0)
}

.ft-menu__close-btn:focus,
.ft-menu__close-btn:hover {
    color: var(--primary-invert)
}

@-webkit-keyframes fadeIn {
    from {
	visibility: hidden;
	opacity: 0
    }

    to {
	visibility: visible;
	opacity: 1
    }
}

@keyframes fadeIn {
    from {
	visibility: hidden;
	opacity: 0
    }

    to {
	visibility: visible;
	opacity: 1
    }
}

@-webkit-keyframes fadeOut {
    from {
	visibility: visible;
	opacity: 1
    }

    to {
	visibility: hidden;
	opacity: 0
    }
}

@keyframes fadeOut {
    from {
	visibility: visible;
	opacity: 1
    }

    to {
	visibility: hidden;
	opacity: 0
    }
}

.fixed-nav-container {
    height: var(--hero-nav-height)
}

.hero-nav--is-sticky {
    color: var(--dropdown-text-color);
    background: var(--dropdown-background);
    position: fixed !important;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    padding: 1rem !important;
    height: 60px;
    transition: .2s height;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown
}

@media(min-width:992px) {
    .hero-nav--is-sticky {
	height: 80px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 1rem .5rem !important
    }
}

.hero-nav--is-sticky .ft-menu__slider {
    color: var(--dropdown-text-color)
}

.hero-nav--is-sticky .btn {
    background: var(--gradient-primary);
    color: var(--primary-invert)
}

@-webkit-keyframes slideInDown {
    from {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	visibility: visible
    }

    to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
    }
}

@keyframes slideInDown {
    from {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	visibility: visible
    }

    to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
    }
}

.ft-menu__slider .hero-nav__item {
    font-size: 1.1rem;
    padding: 0 1rem
}

@media(min-width:992px) {
    .ft-menu__slider .hero-nav__item {
	padding: 0
    }
}

.hero-nav__link {
    display: flex;
    align-items: center;
    outline: 0 !important
}

.ft-menu__slider {
    overflow-x: hidden;
    overflow-y: auto
}

@media (min-width:992px) {
    .ft-menu__slider {
	overflow: visible
    }
}

.hero-nav__item--with-dropdown {
    position: relative;
    cursor: pointer
}

@media(min-width:992px) {
    .hero-nav__item--with-dropdown::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 176%
    }
}

.hero-nav__dropdown {
    position: static;
    width: 100%;
    height: auto;
    font-size: .9rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: .3s all;
    color: var(--dropdown-text-color);
    text-align: initial;
    cursor: auto
}

@media(min-width:992px) {
    .hero-nav__dropdown {
	position: absolute;
	top: 176%;
	left: 0;
	margin-top: 0;
	border-radius: 10px;
	border-top: none;
	box-shadow: 0 14px 50px 0 rgba(0, 0, 0, .1);
	background: var(--dropdown-background);
	z-index: 2;
	max-height: 0;
	padding: 2.3rem 3rem 2rem 2rem;
	overflow: visible;
	transition: .3s all
    }
}

.dropdown--important {
    position: absolute;
    width: auto !important;
    top: 176%;
    left: 0;
    margin-top: 0;
    border-radius: 10px;
    border-top: none;
    box-shadow: 0 14px 50px 0 rgba(0, 0, 0, .1);
    background: var(--dropdown-background);
    z-index: 2;
    max-height: 0;
    padding: 2rem;
    padding-right: 3rem;
    overflow: visible;
    transition: .3s all
}

@media(min-width:992px) {
    .dropdown--of-1-columns {
	width: 400px
    }

    .dropdown--of-2-columns {
	width: 700px
    }

    .dropdown--language-selector {
	width: 250px
    }
}

.hero-nav__item--show-dropdown .hero-nav__dropdown {
    margin-top: 1rem;
    visibility: visible;
    opacity: 1;
    max-height: 9999px;
    padding-top: 1rem
}

@media(min-width:992px) {
    .hero-nav__item--show-dropdown .hero-nav__dropdown {
	margin-top: 0;
	padding: 2.3rem 3rem 2rem 2rem
    }
}

.hero-nav__item-chevron {
    transition: .3s all
}

.hero-nav__item--show-dropdown .hero-nav__item-chevron {
    transform: rotate(180deg)
}

.hero-nav__item--dropdown-left .hero-nav__dropdown {
    transform: translateX(-15px) !important
}

.hero-nav__item--dropdown-left .hero-nav__dropdown::before {
    left: 15%;
    right: auto
}

.hero-nav__item--dropdown-right .hero-nav__dropdown {
    transform: translateX(15px) !important;
    left: auto;
    right: 0
}

.hero-nav__item--dropdown-right .hero-nav__dropdown::before {
    left: auto;
    right: 15%
}

@media(min-width:992px) {
    .hero-nav__item--lg-dropdown-left .hero-nav__dropdown {
	transform: translateX(-15px) !important;
	left: 0;
	right: auto
    }

    .hero-nav__item--lg-dropdown-left .hero-nav__dropdown::before {
	left: 15%;
	right: auto
    }

    .hero-nav__item--lg-dropdown-right .hero-nav__dropdown {
	transform: translateX(15px) !important;
	left: auto;
	right: 0
    }

    .hero-nav__item--lg-dropdown-right .hero-nav__dropdown::before {
	left: auto;
	right: 15%
    }
}

.dropdown--important::before {
    content: '';
    width: 17.1px;
    height: 6.85px;
    background: var(--dropdown-background);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    margin: auto
}

@media(min-width:992px) {
    .hero-nav__dropdown::before {
	content: '';
	width: 17.1px;
	height: 6.85px;
	background: var(--dropdown-background);
	clip-path: polygon(50% 0, 0 100%, 100% 100%);
	position: absolute;
	top: -6px;
	left: 0;
	right: 0;
	margin: auto
    }
}

.dropdown__title {
    color: var(--dropdown-text-color);
    opacity: .7;
    font-weight: 600;
    font-size: .9rem;
    display: block;
    margin-top: .5rem;
    margin-bottom: 1.18rem
}

.dropdown__link {
    display: flex;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    margin-bottom: 1.3rem;
    color: inherit;
    text-decoration: none
}

.dropdown__link:focus,
.dropdown__link:hover {
    color: inherit;
    text-decoration: none
}

[javascript-language-selector] .dropdown__link {
    border-radius: .5rem;
    padding: .7rem;
    margin-bottom: 3px
}

.dropdown__link::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.dropdown__link:last-child {
    margin: 0
}

[javascript-language-selector] .dropdown__link--selected,
[javascript-language-selector] .dropdown__link:focus,
[javascript-language-selector] .dropdown__link:hover {
    background: rgba(0, 0, 0, .06)
}

.dropdown__icon {
    width: 35px;
    height: 35px;
    background-image: var(--gradient-primary);
    color: var(--primary-invert);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    font-size: 13px
}

@media(min-width:992px) {
    .dropdown__icon {
	width: 40px;
	height: 40px
    }
}

.dropdown__item {
    max-width: 250px
}

.dropdown__item-title {
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    z-index: -1
}

@media(min-width:992px) {
    .dropdown__item-title {
	white-space: nowrap
    }
}

.dropdown__item-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    width: 100%;
    background: var(--secondary);
    transform: translateY(2px);
    opacity: 0;
    transition: .2s
}

[javascript-language-selector] .dropdown__item-title {
    white-space: nowrap
}

[javascript-language-selector] .dropdown__item-title::before {
    display: none
}

.dropdown__link:focus .dropdown__item-title::before,
.dropdown__link:hover .dropdown__item-title::before {
    height: 30%;
    transform: translateY(0);
    opacity: .4
}

.dropdown__item-description {
    font-size: .9rem;
    opacity: .9;
    margin-top: .3rem;
    margin-bottom: 0
}

.dropdown__item-description,
.dropdown__item-title {
    width: 95%
}

.hero__row {
    height: 100%
}

.hero_empty-column {
    height: 100%
}

.hero__image-column {
    height: 100%;
    background-position: center;
    background-size: cover
}

.hero__content {
    text-align: initial
}

.hero__body {
    padding-top: 2rem;
    padding-bottom: 3rem;
    position: relative;
    z-index: 1
}

@media(min-width:992px) {
    .hero__body {
	padding-top: 4rem;
	padding-bottom: 5rem
    }
}

.hero__title {
    font-size: 1.8rem;
    font-weight: 900
}

.hero__paragraph {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.7;
    opacity: .98
}

@media (min-width:576px) {
    .hero__title {
	font-size: 2.5rem;
	line-height: 1.17
    }

    .hero__paragraph {
	width: 80%;
	margin: auto
    }
}

@media (min-width:768px) {
    .hero__title {
	font-size: 3rem
    }
}

@media(min-width:992px) {
    .hero__title {
	font-size: 2.5rem;
	line-height: 1.17
    }

    .hero__paragraph {
	font-size: 1.2rem;
	width: 75%
    }
}

@media(min-width:1200px) {
    .hero__title {
	font-size: 3.5rem;
	line-height: 1.17
    }
}

.hero__btns-container {
    margin-left: -.5rem;
    margin-right: -.5rem
}

.hero__btns-container .btn {
    transform: scale(1.15);
    border-radius: 10px
}

.hero__img-container {
    box-shadow: 0 18px 50px rgba(0, 0, 0, .15);
    position: relative;
    z-index: 0;
    --hero-img-roundness: .5rem;
    border-radius: var(--hero-img-roundness);
    margin-bottom: 8rem
}

.hero__img {
    position: relative;
    z-index: 1;
    border-radius: var(--hero-img-roundness)
}

.form-dots-svg {
    color: var(--primary);
    position: absolute;
    z-index: 0
}

.form-dots-svg--top-left {
    width: 90px;
    height: 90px;
    transform: translate(-1.5rem, -1.5rem);
    left: 0;
    top: 0
}

@media(min-width:992px) {
    .form-dots-svg--top-left {
	width: 250px;
	height: 250px;
	transform: translate(-2.5rem, -2.5rem)
    }
}

.form-dots-svg--bottom-right {
    width: 150px;
    height: 150px;
    transform: translate(1.4rem, 1.4rem);
    right: 0;
    bottom: 0
}

@media(min-width:992px) {
    .form-dots-svg--bottom-right {
	width: 300px;
	height: 300px;
	transform: translate(3.5rem, 3.5rem)
    }
}

